<div class="animal-card">
  <%= link_to animal_path(animal) do %>
  <div class="card-trip">
    <%= cl_image_tag animal.photo, height: 200, width: 400, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2 class="animal-name"><i class="fas fa-paw" style="color: #<%= Random.new.bytes(3).unpack("H*")[0] %>"></i><span><%= animal.name %></span></h2>
      <span style="background-color: #<%= Random.new.bytes(3).unpack("H*")[0] %>" class="animal-type-tag"><%= animal.animal_type.upcase %></span>
      </div>
      <h2 class="card-trip-pricing">$ <%= animal.price %> / day</h2>
      <img src=<%= animal.user.avatar %>  class="card-trip-user avatar-bordered" />
    </div>

  <% end %>
  <div class="container mb-1">
    <div class="row">
      <div class="col-6">
    <%= link_to 'Edit card', edit_animal_path(animal), class:'btn btn-primary' %> <br>
    </div>
    <div class="col-6">
    <%= link_to "Delete card",  animal, method: :delete, class:'btn btn-danger' %>
    </div>
    </div>
  </div>
</div>  </div>
