<div class="card-product">
  <img src=<%= booking.animal.photo %> />
  <div class="card-product-infos">
    <h2 class="animal-name"><i class="fas fa-paw" style="color: #<%= Random.new.bytes(3).unpack("H*")[0] %>"></i><span><%= booking.animal.name %></span></h2>
    <div>
      <span class="animal-type-tag animal-date">Date: <%= booking.date.strftime("%A, %b %d") %></span>
      <span style="background-color: #<%= Random.new.bytes(3).unpack("H*")[0] %>" class="animal-type-tag"><%= booking.animal.animal_type.upcase %></span>
    </div>
    <p>Animal's owner email: <%= booking.user.email %></p>
    <p>Booked on: <%= booking.created_at.strftime("%A, %b %d") %></p>
    <p class="confirmed_or_not"><strong>Booking confirmation: <span class="res"><%= booking.confirmed ? "Confirmed" : "Not confirmed" %></span></strong></p>
  </div>
</div>

