<div class="card-trip mt-5">
  <%= cl_image_tag animal.photo, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <a href="animals/<%= animal.id %>"><h2><%= animal.name %></h2>

      <p><%= animal.animal_type.upcase %> | <%= animal.description %></p>
    </a>
    </div>
    <h2 class="card-trip-pricing">$<%= animal.price %></h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>

