<div class="form-container">
<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">

    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :animal_type, collection: ["Dog", "Rabbit", "Cow", "Chicken", "Horse", "Pig", "Goat", "Cat", "Duck", "Donkey", "Ferret", "Monkeys"] %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions ">
    <%= f.button :submit, class:"btn-search-animals"  %>
  </div>
  <div class="form-back">
     <%= link_to 'Back', animals_path, class:"btn-search-animals" %>
  </div>

<% end %>
</div>
