<div class="show-img" style="background-image: url(<%= @animal.photo %>);"> </div>
<div class="wrapper">
  <div class="show-container">

    <h1><%= @animal.name %></h1>
    <h2><strong>Kind:</strong> <%= @animal.animal_type %></h2>
    <p><strong>About: </strong><%= @animal.description %></p>
    <h2><strong>Price:</strong><%= @animal.price %></h2>
  </div>

  <%= render "new_booking_form", animal: @animal, booking: @booking %>
</div>
